<footer>
    <div class="f-info">
        <div class="f-infosocials">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-square-linkedin"></i>
        </div>

        <div style="color: black !important;"> &copy;WanderLust Private Limited </div>
        
        <div class="f-info-links">
            <a href="/privacy">Priavcy</a>
            <a href="/terms">Terms and conditions</a>
        </div>
    </div>
</footer>